#!/usr/bin/bash
# Example launcher to cause lxterminal to launch with cmatrix
# and then fullscreen it using wmctlr

if ! command -v cmatrix > /dev/null; then
  echo "missing cmatrix ... " 
  echo "  fix: sudo apt install cmatrix"
  exit 1
fi

if ! command -v wmctrl > /dev/null; then
  echo "missing wmctrl .. unable to do fullscreen mode"
  echo "fix: sudo apt install wmctrl"
fi

echo "launching lxterminal"

lxterminal -e cmatrix &
# sleeping a sec then attempting a fullscreen
sleep 3
wmctrl -r :ACTIVE: -b toggle,fullscreen
