#!/usr/bin/bash
# Example launcher to cause lxterminal to launch with cmatrix
# and then fullscreen it using wmctlr

if ! command -v cmatrix > /dev/null; then
  echo "missing cmatrix ... " 
  echo "  fix: sudo apt install cmatrix"
  exit 1
fi

lxterminal -e cmatrix

if command -v wmctrl > /dev/null; then
  sleep 0.5
  wmctrl -r :ACTIVE: -b toggle,fullscreen
else
  echo "missing wmctrl .. unable to do fullscreen mode"
  echo "fix: sudo apt install wmctrl"
fi
